[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytz = "*"
django = "*"
gunicorn = "*"
newrelic = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
django-model-utils = "*"
django-unique-upload = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-storages = "*"
"boto3" = "*"
django-extensions = "*"
"boardgamegeek2" = "*"
shortuuid = "*"
django-appconf = "*"


[dev-packages]

ipdb = "*"
ipython = "*"
mkdocs = "*"
"flake8" = "*"
mock = "*"
factory-boy = "*"
django-nose = "*"
nose-progressive = "*"
coverage = "*"
pylint = "*"
jupyterlab = "*"
scrapy = "*"
scrapy-djangoitem = "*"
django-cors-headers = "*"
yapf = "*"


[requires]

python_version = "3.6"
